<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="11"/>
<entry key="0" type="xstring" value="OZSD%%00010Rok"/>
<entry key="1" type="xstring" value="OZSD%%00010Téma"/>
<entry key="2" type="xstring" value="OZSD%%00010Elementární indikátor - název"/>
<entry key="3" type="xstring" value="OZSD%%00010Kód indikátoru"/>
<entry key="4" type="xstring" value="OIPEP%%00010Status vizualizace"/>
<entry key="5" type="xstring" value="OIPEP%%00010Kontrolor"/>
<entry key="6" type="xstring" value="OIPEP%%00010Datum publikace interně"/>
<entry key="7" type="xstring" value="OZSD%%00010Kontrolor"/>
<entry key="8" type="xstring" value="OZSD%%00010Publikace datum"/>
<entry key="9" type="xstring" value="OZSD%%00010Tagy"/>
<entry key="10" type="xstring" value="OZSD%%00010Referenční indikátor (před rozpadem na elementární)"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="39"/>
<entry key="0" type="xstring" value="OZSD kontrola%%00010Kód indikátoru"/>
<entry key="1" type="xstring" value="OZSD%%00010CKAN"/>
<entry key="2" type="xstring" value="OIPEP%%00010Popis pro Envirometr"/>
<entry key="3" type="xstring" value="OIPEP%%00010Kurátor"/>
<entry key="4" type="xstring" value="OIPEP%%00010Zobrazení v publikaci"/>
<entry key="5" type="xstring" value="OIPEP%%00010Vizualizaci připravuje"/>
<entry key="6" type="xstring" value="OIPEP%%00010Registr kvality"/>
<entry key="7" type="xstring" value="OIPEP%%00010*Poznámka k indikátoru"/>
<entry key="8" type="xstring" value="OZSD%%00010Envirometr"/>
<entry key="9" type="xstring" value="OZSD%%00010Zobrazit na Envirometru"/>
<entry key="10" type="xstring" value="OZSD%%00010CSV"/>
<entry key="11" type="xstring" value="OZSD%%00010DS1"/>
<entry key="12" type="xstring" value="OZSD%%00010DS2"/>
<entry key="13" type="xstring" value="OZSD%%00010DS3"/>
<entry key="14" type="xstring" value="OZSD%%00010DS4"/>
<entry key="15" type="xstring" value="OZSD%%00010DS5"/>
<entry key="16" type="xstring" value="OZSD%%00010DS6"/>
<entry key="17" type="xstring" value="OZSD%%00010DS7"/>
<entry key="18" type="xstring" value="OZSD%%00010DS8"/>
<entry key="19" type="xstring" value="OZSD%%00010DS9"/>
<entry key="20" type="xstring" value="OZSD%%00010DS10"/>
<entry key="21" type="xstring" value="OZSD%%00010DS11"/>
<entry key="22" type="xstring" value="OZSD%%00010DS12"/>
<entry key="23" type="xstring" value="OZSD%%00010DS13"/>
<entry key="24" type="xstring" value="OZSD%%00010DS14"/>
<entry key="25" type="xstring" value="Zpráva o ŽP%%00010ANO/NE"/>
<entry key="26" type="xstring" value="Zpráva o ŽP%%00010Publikovaný indikátor"/>
<entry key="27" type="xstring" value="Zpráva o ŽP%%00010Publikovaný kód"/>
<entry key="28" type="xstring" value="Zpráva o ŽP%%00010Vizualizace"/>
<entry key="29" type="xstring" value="SP ŽP%%00010ANO/NE"/>
<entry key="30" type="xstring" value="SP ŽP%%00010Publikovaný indikátor"/>
<entry key="31" type="xstring" value="SP ŽP%%00010Publikovaný kód"/>
<entry key="32" type="xstring" value="SP ŽP%%00010Vizualizace"/>
<entry key="33" type="xstring" value="Krajské Zprávy%%00010ANO/NE"/>
<entry key="34" type="xstring" value="Krajské Zprávy%%00010Krajské Zprávy"/>
<entry key="35" type="xstring" value="Krajské Zprávy%%00010Publikovaný kód"/>
<entry key="36" type="xstring" value="Indikátory zranitelnosti%%00010ANO/NE"/>
<entry key="37" type="xstring" value="Indikátory zranitelnosti%%00010Krajské Zprávy"/>
<entry key="38" type="xstring" value="Indikátory zranitelnosti%%00010Publikovaný kód"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.time.localdate.LocalDateValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.3.2.v202103021015"/>
<entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.3.2.v202103021015"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
